body {
    background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 320px;
    text-align: center;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    color: #333;
}

.role {
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
}

.about {
    margin: 15px 0;
}

.about p {
    color: #555;
    font-size: 14px;
    line-height: 1.4;
}

.links h2 {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


button a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
}

button a:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    transition: transform 2ms ease;
}

/* GitHub */
button:nth-child(1) a {
    background: #24292f;
}

/* Instagram */
button:nth-child(2) a {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
}

/* Telegram */
button:nth-child(3) a {
    background: #0088cc;
}

.company-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    max-width: 320px;
    text-align: center;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.company-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.company-logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 15px;
}
.company-card h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.company-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 15px;
}

.company-card .btn {
    display: inline-block;
    background-color: #0088cc;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.company-card .btn:hover {
    background-color: #0077aa;
    transform: scale(1.05);
}

footer {
    margin-top: 15px;
    color: #888;
    font-size: 13px;
}